@charset "UTF-8";

/* ============================================================================
@MASTER STYLESHEET
========================================================================= */

$spacing: 2.5rem;

$spacing-small: $spacing / 2;

html {
    box-sizing: border-box;
    color: #555;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.7;
    overflow-y: scroll;
    padding-bottom: $spacing-small;
    padding-top: $spacing;
}

// Simple reset

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

// links

a {
    color: #3AB795;
    text-decoration: none;
}

a:hover {
    color: darken(#3AB795, 4%);
    text-decoration: underline;
    transition: all 0.3s;
}

// layout

.l-container {
    margin: 0 auto;
    max-width: 31.25rem;
}

.l-header {
    border-bottom: 1px solid #eee;
    margin-bottom: $spacing;
    text-align: center;
}

// headings

.heading--large {
    color: #222;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -2px;
}

.heading--medium {
    color: #aaa;
    font-size: 1.25rem;
    font-weight: 300;
}


// Helpers

.h-txt-center {
    text-align: center;
}

.h-spacing {
    margin-bottom: $spacing;
}

.h-spacing-small {
    margin-bottom: $spacing-small;
}


// Components

.c-card {
    color: #333;
    padding: $spacing-small;
    text-decoration: none;
}

.c-card__sub-title {
    color: #aaa;
    display: block;
    font-weight: 300;
}

.c-copyright {
    font-size: 0.875rem;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #212121;
        color: #eee;

        .heading--large,
        .c-card {
            color: #eee;
        }
    }
}
