$card-color-text: $color-off-white;
$card-color-bg:   $color-off-black;
$card-summary-color-text: $color-mid-grey;

.card {
	@include font-size(22);
    background: $card-color-bg;
    color: $card-color-text;
    display: block; 
    height: 300px;
    overflow: hidden;
    padding: to-rem(10) to-rem(15);
    position: relative;
    text-decoration: none;
}

.card__summary {
	@include font-size(16, 2);
	color: $card-summary-color-text;
	display: block;
}

.card:hover {
	color: $color-white;
    background-color: #232323;
    text-decoration: none;
}